<!doctype html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="{% static 'amaze/i/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'amaze/i/app-icon72x72@2x.png' %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="{% static 'amaze/css/amazeui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'amaze/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'amaze/css/app.css' %}">
    <script src="{% static 'amaze/js/jquery.min.js' %}"></script>
    {% block static %}
    {% endblock %}
</head>

<body data-type="index">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="{% static 'amaze/img/logo.png' %}" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-danger am-round times"></span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content message">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success times"></span> 条提醒</h3><a href="{% url 'admin_messages' %}">全部</a></li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick" id="user"></span>
                    <span class="tpl-header-list-user-ico"> <img src="" id="user_avator"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="{% url 'logout' %}"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>



<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="{% url 'admin' %}" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{% url 'index' %}" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>用户首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{% url 'user_admin' %}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-primary am-icon-twitter"></i>
                        <span>用户管理</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="{% url 'admin_project' %}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-paper-plane"></i>
                        <span>项目管理</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="{% url 'PersonalTimeline' %}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-ra"></i>
                        <span>绩效考核</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            WorkLog 后台
        </div>
        <ol class="am-breadcrumb">
            <li><a href="javascript:;" class="am-icon-home">首页</a></li>
            {% block nav %}{% endblock %}
        </ol>
        {% block content %}{% endblock  %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $.getJSON("{% url 'get_user' %}", function(data){
            var avator = data.avator;
            $("#user").html(data.name);
            $("#user_avator").attr("src", avator)
        })
        $.getJSON("{% url 'get_message' %}", {"type": "less"}, function(data){
            if (data.times != 0){
                $(".times").text(data.times);
            }else{
                $(".tpl-dropdown-content-external").html("");
            }
            $.each(data.messages, function(i, item){
                var li = $("<li class=\"tpl-dropdown-list-bdbc\"></li>");
                var a = $("<a class=\"tpl-dropdown-list-fl\"></a>");
                var icon = $("<span class=\"am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning\"></span>");
                a.append(icon);
                a.append(item[0]);
                var time = $("<span class=\"tpl-dropdown-list-fr\"></span>");
                time.text(item[1]);
                li.append(a);
                li.append(time);
                $(".message").append(li);
            })
        })

    })
</script>
<script src="{% static 'amaze/js/amazeui.min.js' %}"></script>
<script src="{% static 'amaze/js/iscroll.js' %}"></script>
<script src="{% static 'amaze/js/app.js' %}"></script>
</body>

</html>