{% extends 'user_base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block static %}
    <style type="text/css">
        .avator{
            width: 38px;
            height: 38px;
            left: 0;
        }
    .container{
         background: #FFFFFF; filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
        -moz-box-shadow: 2px 2px 10px #909090;
        -webkit-box-shadow: 2px 2px 10px #909090;
        box-shadow:2px 2px 10px #909090;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 50px; ">
        <h2 class="text-green">{{ content }}</h2>
         <p>{{ create_date }}</p>
        <p><img src="{{ auth_avator }}" class="avator"></p>
        <hr>
        </br>
        <div class="panel">
                <span>{{ start_time }}</span>
                <span>{{ name }}</span>
                <span>创建了日程</span>
                </br></br>
                <div class="pull-right">
                    <button class="btn btn-success" type="button">编辑</button>
                    <button class="btn " type="button">删除</button>
                </div>
        </div>

        <div class="comments">
            <header>
                <div class="pull-right"><a href="#commentReplyForm2" class="btn btn-primary"><i class="icon-comment-alt"></i> 发表评论</a></div>
                <h3><p class="text-primary">所有评论</p></h3>
            </header>
            <section class="comments-list">
                <div class="comment">
                    <a href="###" class="avatar">
                        <i class="icon-camera-retro icon-2x"></i>
                    </a>
                    <div class="content">
                        <div class="pull-right text-muted">3 个小时前</div>
                        <div><a href="###"><strong>张士超</strong></a></div>
                        <div class="text"><p class="hl-primary">今天玩的真开心！~~~~~~</p></div>
                        <div class="actions">
                            <a href="##">回复</a>
                        </div>
                    </div>
                    <div class="comments-list">
                        <div class="comment">
                            <a href="###" class="avatar">
                                <i class="icon-user icon-2x"></i>
                            </a>
                            <div class="content">
                                <div class="pull-right text-muted">2 个小时前</div>
                                <div><a href="###"><strong>Catouse</strong></a> <span class="text-muted">回复</span> <a href="###">张士超</a></div>
                                <div class="text"><p class="hl-primary">你到底把我家钥匙放哪里了...</p></div>
                                <div class="actions">
                                    <a href="##">回复</a>
                                    <a href="##">编辑</a>
                                    <a href="##">删除</a>
                                </div>
                            </div>
                            <div class="comments-list">
                                <div class="comment">
                                    <a href="###" class="avatar">
                                        <i class="icon-yinyang icon-2x"></i>
                                    </a>
                                    <div class="content">
                                        <div class="pull-right text-muted">1 个小时前</div>
                                        <div><a href="###"><strong>门口大爷</strong></a> <span class="text-muted">回复</span> <a href="###">Catouse</a></div>
                                        <div class="text"><p class="hl-primary">不在我这儿...</p></div>
                                        <div class="actions">
                                            <a href="##">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment">
                                    <a href="###" class="avatar">
                                        <i class="icon-cube-alt icon-2x"></i>
                                    </a>
                                    <div class="content">
                                        <div class="pull-right text-muted">1 个小时前</div>
                                        <div><a href="###"><strong>队长</strong></a> <span class="text-muted">回复</span> <a href="###">Catouse</a></div>
                                        <div class="text"><p class="hl-primary">也不在我这儿...</p></div>
                                        <div class="actions">
                                            <a href="##">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a href="###" class="avatar">
                                <i class="icon-heart-empty icon-2x"></i>
                            </a>
                            <div class="content">
                                <div class="pull-right text-muted">30 分钟前</div>
                                <div><a href="###"><strong>华师大第一美女</strong></a> <span class="text-muted">回复</span> <a href="###">张士超</a></div>
                                <div class="text">很开心~~~</div>
                                <div class="actions">
                                    <a href="##">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="reply-form" id="commentReplyForm2">
                    <img class="avatar" src="{{ auth_avator }}"></img>
                    <form class="form">
                        <div class="form-group">
                            <textarea class="form-control new-comment-text" rows="2" placeholder="撰写评论..."></textarea>
                        </div>
                        <div class="form-group comment-user">
                            <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2"><button type="button" class="btn btn-block btn-primary"><i class="icon-ok"></i></button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
