<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="{% static 'i/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1><i class="am- am-icon-rebel"></i></h1>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <form class="am-form am-form-horizontal" method="post" action="{% url 'edit_pwd' %}" data-am-validator>
            {% csrf_token %}
            <div class="am-form-group email">
                <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">邮箱</label>
                <div class="am-u-sm-10">
                    <input type="email" name="email" value="{{ email }}">
                </div>
            </div>
            {% if error %}
            <div class="am-alert am-alert-danger" data-am-alert>
                <button type="button" class="am-close">&times;</button>
                <p>{{ error }}</p>
            </div>
            {% endif %}
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">新密码</label>
                <div class="am-u-sm-10" id="error">
                    <input type="password" name="pwd" id="pwd" placeholder="请输入新密码" required>
                </div>
            </div>

            <div class="am-form-group">
                <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">确认密码</label>
                <div class="am-u-sm-10">
                    <input type="password" placeholder="请确认您的密码" data-equal-to="#pwd" required>
                </div>
            </div>

            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-success">提交</button>
                </div>
            </div>
        </form>
        <hr>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".email").hide()
    })
</script>
</body>
</html>
