<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="{% static 'amaze/i/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'amaze/css/amazeui.min.css' %}"/>
    <script src="{% static 'amaze/js/jquery.min.js' %}"></script>
    <script src="{% static 'amaze/js/amazeui.min.js' %}"></script>
    <style>
        .header {
            text-align: center;
        }
        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }
        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1><i class="am- am-icon-rebel"></i></h1>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <form class="am-form am-form-horizontal" method="post" action="{% url 'get_captch' %}">
            {% csrf_token %}
            <div class="am-form-group">
                <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">电子邮件</label>
                <div class="am-u-sm-7" id="error">
                    <input type="email" name="email" id="email" placeholder="输入你的电子邮件" required>
                </div>
                <div class="am-u-sm-3">
                    <button type="button" class="am-btn am-btn-primary"
                            id="send_captch" data-am-loading="{spinner: 'circle-o-notch', loadingText: '倒计时60s...', resetText: '重新获取'}">
                        获取验证码</button>
                </div>
            </div>

            <div class="am-form-group">
                <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">验证码</label>
                <div class="am-u-sm-10">
                    <input type="text" name="captch">
                    {% if number_error %}
                        <div class="am-alert am-alert-danger error">{{ number_error }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="am-form-group">
                <div class="am-u-sm-10 am-u-sm-offset-2">
                    <button type="submit" class="am-btn am-btn-success">提交</button>
                </div>
            </div>
        </form>
        <hr>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".error").hide()
        }, 3000)
        $("#send_captch").click(function () {
            var email = $("#email").val();
            if ($("#error").find("div")){
                    ($("#error").children(".error").remove())
                }
            var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
            isok = reg.test(email);
            if (!isok) {
                var error = $("<div class=\"am-alert am-alert-danger error\">您的邮箱格式有误</div>");
                $("#error").append(error)
                setTimeout(function () {
                    $(".error").hide()
                }, 4000)
                return false;
            } else{
                var $btn = $(this)
                $.ajax({
                    url: "{% url 'send_captch' %}",
                    type: "POST",
                    data: {"email": email},
                    success: function (data) {
                        if (data.status == true){
                            var error = $("<div class=\"am-alert am-alert-success error\">验证码已发送到您的邮箱</div>");
                            $("#error").remove(error);
                            $("#error").append(error);
                            setTimeout(function () {
                                $(".error").hide()
                            }, 4000)
                            $btn.button('loading');
                            setTimeout(function(){
                                $btn.button('reset');
                            }, 60000);
                        } else{
                            var error = $("<div class=\"am-alert am-alert-danger error\">您的邮箱格式有误</div>");
                            $("#error").remove(error);
                            $("#error").append(error);
                            setTimeout(function () {
                                $(".error").hide()
                            }, 4000)
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>
