{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}worklog后台{% endblock %}
{% block nav %}<li class="am-active">内容</li>{% endblock %}
{% block content %}
    <div class="row">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="am-icon-btn am-primary am-icon-qq"></i>
                </div>
                <div class="details">
                    {% ifequal user_number 0 %}
                        <div class="number"> 暂无用户 </div>
                    {% else %}
                        <div class="number"> {{ user_number }} </div>
                    {% endifequal %}
                    <div class="desc"> 用户总数 </div>
                </div>
                <a class="more" href="{% url 'user_admin' %}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="am-icon-bar-chart-o"></i>
                </div>
                <div class="details">
                    {% ifequal cal_number 0 %}
                        <div class="number"> 用户暂无日程 </div>
                    {% else %}
                        <div class="number"> {{ cal_number }} </div>
                    {% endifequal %}
                    <div class="desc"> 日志总数 </div>
                </div>
                <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="am-icon-comment-o"></i>
                </div>
                <div class="details">
                    {% ifequal messege_number 0 %}
                        <div class="number"> 暂无消息 </div>
                    {% else %}
                        <div class="number"> {{ messege_number }} </div>
                    {% endifequal %}
                    <div class="desc"> 新消息 </div>
                </div>
                <a class="more" href="{% url 'admin_messages' %}"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="am-icon-android"></i>
                </div>
                <div class="details">
                    <div class="number"> 786 </div>
                    <div class="desc"> 在线用户 </div>
                </div>
                <a class="more" href="#"> 查看更多
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="am-u-md-11 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-red ">
                        <i class="am-icon-bar-chart"></i>
                        <span> 今日日程动态</span>
                    </div>
                    <div class="actions">
                        <ul class="actions-btn">
                            <li class="purple-on">动态</li>
                            <li class="green">交互</li>
                        </ul>
                    </div>
                </div>
                <div class="tpl-scrollable">
                    <div class="number-stats">
                        <div class="stat-number am-fl am-u-md-6">
                            <div class="title am-text-right"> 动态总量</div>
                            <div class="number am-text-right am-text-warning" id="all_cn"></div>
                        </div>
                        <div class="stat-number am-fr am-u-md-6">
                            <div class="title"> Total </div>
                            <div class="number am-text-success" id="all_en"></div>
                        </div>

                    </div>

                    <table class="am-table tpl-table">
                        <thead>
                        <tr class="tpl-table-uppercase">
                            <th>用户</th>
                            <th>日程总数</th>
                            <th>总耗时</th>
                            <th>比率</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $.getJSON("{% url 'get_trends' %}", function(data){
                $("#all_cn").html(data.all_trends);
                $("#all_en").html(data.all_trends);
                $.each(data.result, function(i, item){
                    var tr = $("<tr></tr>");
                    var td_name = $("<td></td>");
                    var td_trends = $("<td></td>");
                    var td_times = $("<td></td>");
                    var td_sort = $("<td class=\"font-green bold\"></td>");
                    var avator = $("<img alt=\"\"class=\"user-pic\">");
                    avator.attr("src", item[1])
                    var name = $("<a class=\"user-name\"></a>")
                    name.html(item[0]);
                    td_name.append(name);
                    td_name.append(avator);
                    td_trends.html(item[2]);
                    td_times.html(item[3]);
                    td_sort.html(item[4]);
                    tr.append(td_name);
                    tr.append(td_trends);
                    tr.append(td_times);
                    tr.append(td_sort);
                    $("tbody").append(tr);
                })
            })
            $.app = function(url, type, obj){
                icon = ["am-icon-bullhorn", "am-icon-bolt", "am-icon-bell-o", "am-icon-plus"];
                colors = ["cosIco label-danger", "cosIco label-info", "cosIco label-warning", "cosIco"]
                $.getJSON(url, {"type": type}, function(data){
                    obj.html("");
                    $.each(data.tasks, function(i, item){
                        var x = 3;
                        var y = 0;
                        var rand = parseInt(Math.random() * (x - y + 1) + y);
                        var li = $("<li></li>");
                        var cosB= $("<div class=\"cosB\"></div>");
                        var cosA= $("<div class=\"cosA\"></div>");
                        var span = $("<span><span>");
                        span.attr("class", colors[rand]);
                        var i = $("<i></i>");
                        i.attr("class", icon[rand]);
                        span.append(i);
                        var content = $("<span></span>");
                        var process = $("<div class=\"am-progress\"></div>");
                        var process_bar = $("<div class=\"am-progress-bar\"></div>");
                        process_bar.css("width", item[1] + "%");
                        process_bar.html(item[1] + "%");
                        process.append(process_bar);
                        cosB.append(process);
                        content.html(item[0]);
                        cosA.append(span);
                        cosA.append("&nbsp;");
                        cosA.append(content);
                        var a = $("<a></a>");
                        a.attr("href", "{% url 'admin_project_detail' %}?pro_id="+item[2]);
                        a.append(cosB);
                        a.append(cosA);
                        li.append(a);
                        obj.append(li);
                    })
                })
            };
            $.app("{% url 'project_process' %}", "img", $(".img"));
        })
    </script>

    <div class="row">
        <div id="wrapper">
            <div id="scroller" class="scroller"></div>
        </div>
        <div class="am-u-md-11 am-u-sm-12 row-mb">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-green ">
                        <span>项目进度</span>
                    </div>

                </div>

                <div class="am-tabs tpl-index-tabs" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">进行中</a></li>
                        <li><a href="#tab2">已完成</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                            <div id="wrapperA" class="wrapper">
                                <div id="scroller" class="scroller">
                                    <ul class="tpl-task-list tpl-task-remind img">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="am-tab-panel am-fade" id="tab2">
                            <div id="wrapperB" class="wrapper">
                                <div id="scroller" class="scroller">
                                    <ul class="tpl-task-list tpl-task-remind ok">

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}