{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}PersonalTimeline{% endblock %}
{% block nav %}<li class="am-active">绩效考核</li>{% endblock %}
{% block content %}

<!--main-->
<div class="tpl-portlet-components">
    <!--时间表搜索框-->
        <div class="portlet-title">
            <div class="am-u-lg-6">
                <form class="form-inline" method="post" action="{% url 'search' %}">
                    <div class="am-input-group">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="submit"><span class="am-icon-search"></span></button>
                        </span>
                        <input type="text" name="name" class="am-form-field" placeholder="   请输入所要搜索的名字" style="font-size: 18px">
                    </div>
                </form>
            </div>
        </div>

    <!--时间表-->
<div class="content">
    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-thumbnails">
      {% if msg %}
          <li>{{ msg }}</li>
      {% endif %}
      {% for list in list_items %}
          <li><img class="am-thumbnail" onclick="$.send({{ list.user_id }})" src="{% static 'amaze/img/2.jpg' %}" />
              <p onclick="$.send({{ list.user_id }})" style="text-align: center;background-color: #c7ddef; padding: 0px">{{ list.name }}</p>
          </li>
      {% endfor %}
    </ul>
</div>

    <!--分页-->
    <div class="page" style="height: 78px;">
        <ul class="am-pagination" style="text-align: center">
            {% if list_items.has_previous %}
                <li class="previous"><a href="?page={{ list_items.pervious_page_number }}">«</a></li>
            {% endif %}
            {% for i in page_range %}
                {% ifequal i page %}
                    <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if list_items.has_next %}
                <li class="next"><a href="?page={{ list_items.next_page_number }}">»</a></li>
            {% endif %}
        </ul>
    </div>
</div>


<script>
    $(document).ready(function(){
        $.send=function (obj) {
            $.ajax({
                url:"{% url 'personal' %}",
                type:'GET',
                cache:false,
                data:{
                    "id":obj
                },
                success:function (ret) {
                    window.location.href="{% url 'select' %}?id="+ obj;
                }
            })
        }
    })
</script>
{% endblock %}


