{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}personal{% endblock %}
{% block nav %}<li class="am-active">统计分析</li><li class="am-active">personal</li>{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'amaze/css/layout.css' %}">
    <script type="text/javascript" src="{% static 'amaze/js/html5shiv.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'amaze/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'amaze/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'amaze/js/respond.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'amaze/js/echarts.min.js' %}"></script>
    <!--main-->
<div class="tpl-portlet-components" style="height: 600px">
    <div class="portlet-title">
         <div class="caption font-back bold" style="height: 100px;">

             <form class="am-form-inline" role="form">
                 <div class="am-form-group">
                     我的工作时间：
                 </div>
                 <div class="am-form-group">
                     <label>年</label>
                     <select id="select-year" onchange="$.change()">
                         {% for year in years %}
                            <option>{{ year }}</option>
                        {% endfor %}
                     </select>
                 </div>
                 <div class="am-form-group">
                     <label>周</label>
                     <select id="select-week" onchange="$.change()">
                            {% for i in weeks %}
                        <option>{{ i }}</option>
                        {% endfor %}
                     </select>
                 </div>
             </form>

         </div>
    </div>
    <!--图表面板-->
    <div class="panel" style=" height: 500px">
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="am-btn-toolbar">
                        <div class="panel-body" style="height:500px;">
                            <div class="panel-body-body" id="main" style="height: 569px; padding-right: 80px;padding-bottom: 80px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '{{ user_name.name }}的{{ now_year }}年第{{ now_week }}周的工作时间'
            },
            tooltip: {},
            legend: {
                data:['工作时间']
            },
            xAxis: {
                data: ["Mon","Tue","Wed","Thu","Fri","Sta","Sun"]
            },
            yAxis: {
            },
            series: [{
                name: '工作时间',
                type: 'bar',
                data: {{ s }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
<script>
    $.change=function () {
        var select_year=$('#select-year option:selected').text();
        var select_week=$('#select-week option:selected').text();
        var id={{ user_name.user_id }}
        $.ajax({
            url:'{% url 'personal_change' %}',
            cache:false,
            type:'GET',
            data:{
                'select_year':select_year,
                'select_week':select_week,
                'id':id
            },
            success:function (ret) {
                if(ret.msg=='ok'){
                    var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: '{{ user_name.name }}的'+select_year+'年第'+ select_week+'周的工作时间'
                        },
                        tooltip: {},
                        legend: {
                            data:['工作时间']
                        },
                        xAxis: {
                            data: ["Mon","Tue","Wed","Thu","Fri","Sta","Sun"]
                        },
                        yAxis: {},
                        series: [{
                            name: '工作时间',
                            type: 'bar',
                            data:ret.m
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                }
            }
        })
    }
</script>
{% endblock %}

