<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title></title> 
<title>注册</title>
<link rel="stylesheet"  type="text/css" href="css/css.css" />
<link rel="stylesheet" type="text/css" href="css/zui-1.7.0-dist/dist/css/zui.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
<script type="text/javascript" src="css/zui-1.7.0-dist/dist/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="css/zui-1.7.0-dist/dist/js/zui.min.js"></script> 
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
</style>
</head>

<body>
<div id="header">
<h2 class="top_title" style="color:green;font-size: 32px">统计回顾</span></h2><br/>
  <div class="form-group" style="width: 80%;position: absolute;left:20%">
  
    <div class="col-sm-3" >
      <select class="form-control" id="exampleInputAddress1">
          <option>年份</option>
        <option>2017</option>
        <option>2016</option>
      </select>
    </div>
     <div class="col-sm-3" style="float: left;">
      <select class="form-control" id="exampleInputAddress1">
      	  <option>月份</option>
        <option>1月</option>
        <option>2月</option>
      </select>
    </div>
     <div class="col-sm-3" style="float: left;">
      <select class="form-control" id="exampleInputAddress1">
          <option>周</option>
        <option>第1周</option>
        <option>第2周</option>
      </select>
    </div>
  </div>
  <br/>
  <hr>


<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="images/timg (4).jpg" alt="Location" style="background:#5aadad;border-radius:100px ">
		</div>

		<div class="cd-timeline-content">
			<table class="table">
    <caption>2015</caption>
   <thead>
      <tr class="success">
     <th>创建时间</th>
         <th>学习总时间</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
         <td></td>
      </tr>
      
   </tbody>
</table>
			<a a href="#" class="cd-read-more" target="_blank">详情</a>
			<span class="cd-date">2015-01-06</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="images/timg (5).jpg" alt="Location" style="background:#5aadad;border-radius:100px ">
		</div>



		<div class="cd-timeline-content">
			<table class="table">
    <caption>2014</caption>
 <thead>
      <tr class="active">
         <th>创建时间</th>
         <th>学习总时间</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
         <td></td>
      </tr>
   </tbody>
</table>
			<a a href="#" class="cd-read-more" target="_blank">详情</a>
			<span class="cd-date">2014-12-25</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="images/timg (6).jpg" alt="Location" style="background:#5aadad;border-radius:100px ">
		</div>



		<div class="cd-timeline-content">
			<table class="table">
    <caption>2013</caption>
   <thead>
      <tr class="warning">
        <th >创建时间</th>
         <th>学习总时间</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
         <td></td>
      </tr>
   </tbody>
</table>
			<a a href="#" class="cd-read-more" target="_blank">详情</a>
			<span class="cd-date">2014-12-20</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
		<img src="images/timg (7).jpg" alt="Location" style="background:#5aadad;border-radius:100px ">
		</div>



		<div class="cd-timeline-content">
			<table class="table">
    <caption>2012</caption>
   <thead>
      <tr class="danger">
     <th>创建时间</th>
         <th>学习总时间</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
         <td></td>
      </tr>
   </tbody>
</table>
			<a href="#" class="cd-read-more" target="_blank">详情</a>
			<span class="cd-date">2014-12-14</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<img src="images/timg (4).jpg" alt="Location" style="background:#5aadad;border-radius:100px ">
		</div>




		<div class="cd-timeline-content">
			<table class="table">
    <caption>基本的表格布局</caption>
   <thead>
      <tr class="success">
         <th>创建时间</th>
         <th>学习总时间</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td></td>
         <td></td>
      </tr>
   </tbody>
</table>
			<a href="#" class="cd-read-more" target="_blank">详情</a>
			<span class="cd-date">2014-12-05</span>
		</div>
	</div>
</section>


</body>
</html>
</body>
</html>