<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title></title> 
<title>注册</title>
<link rel="stylesheet"  type="text/css" href="css/css.css" />
<link rel="stylesheet" type="text/css" href="css/zui-1.7.0-dist/dist/css/zui.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
<script type="text/javascript" src="css/zui-1.7.0-dist/dist/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="css/zui-1.7.0-dist/dist/js/zui.min.js"></script> 
<style type="text/css">
h2.top_title{border-bottom:none;background:none;text-align:center;line-height:32px; font-size:20px}
h2.top_title span{font-size:12px; color:#666;font-weight:500}
</style>
</head>

<body>
 <body>
<div id="header"><br/>
<h2 class="top_title" style="color:green;font-size: 32px">详情</span></h2><br/>

  <hr>
  <br/>
  <div class="table-responsive" style="width: 60%;position: absolute;left: 20%">
   <table class="table table-hover">
   <thead>
      <tr class="success">
     <th style="width: ">日历ID</th>
      <th style="width: 25%">内容</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>耗时（hour）</th>
       <th style="width: 25%">进度</th>
      
      </tr>
   </thead>
   <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>

     <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>

     <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>

     <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>

      <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>

     <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
     </tbody>

     <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
    </tbody>

    <tbody>
      <tr>
      <th>2035</th>
      <th>谢官伟是猪baby</th>
      <th>20120321</th>
      <th>20120329</th>
      <th>151656</th>
        <th>
            <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
            </div>
            </div>
       </th>
      </tr>  
   </tbody>
</table> 
</div>
</body>
</html>